<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JspathDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC4F1F611D73CE0800DAE2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC4F1F7A1D73CE0800DAE2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC4F1F851D73CE0800DAE2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
